# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Team6 VR.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kyleg\Documents\Git Repo\Team6\Team6 VR\.idea\.idea.Team6 VR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
